@font-face {
    font-family: "ItalianPlate";
    src: url("/fonts/italian-plate/ItalianPlateMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ItalianPlate";
    src: url("/fonts/italian-plate/ItalianPlateDemibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ItalianPlate";
    src: url("/fonts/italian-plate/ItalianPlateBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
